<h1>Create</h1>

<form action="insert" method="post" enctype="multipart/form-data">
    First name:<br>
    <input type="text" name="name" value="Nombre">
    <br><br>

    Last name:<br>
    <input type="text" name="lastname" value="Apellido">
    <br><br>

    Profile Picture:<br>
    <input type="file" name="profilepic" id="profilepicture" accept="image/*">
    <br><br>

    <input type="submit" value="Submit" name="submit">
</form>