<h1>List</h1>
<ul>
    {{#each Model.List}}
        <li>{{this.Id}} {{this.Name}} {{this.LastName}}
            <img style='display:block; width:100px;height:100px;' id='base64image'
                 src='data:image/jpeg;base64, {{this.ProfilePic}}' />

     {{else}}
        The People List has no content.
     {{/each}}
</ul>